/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */


#menu{
	background:url(../images/menu/navss3.png) ;
	position: absolute;
	top: 80px;
	left: 168px;
	width: 962px;
	height:80px;
	z-index: 9	;
	   
}
div#menu {
	/*49 sin sombra 
	80 con sombrA
	*/
   
   color: #000000;
    background-repeat: no-repeat;  
     background-position: center;
     margin: 40px auto;
     
}

div#menu ul {
    margin: 40;
    padding: 0;
    list-style: none;
    float: left;
    
 
    
}
div#menu ul.menu {
    padding-left: 0px;
    padding-top: 19px;
   	
    
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font-family: StagSansLight, Arial; 
    font-size: 12pt;    
    font-weight: 700;
    
    
      
}

div#menu a:hover, div#menu a:hover span { color: #999999; }
div#menu li.current a {
	color:#000000;
}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(../images/menu/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(../images/menu/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #000000;
}
div#menu span {
    margin-top: 5px;
}/**@replace#1*/
div#menu li {/* background: url(../images/menu/main-delimiter.png) 98% 4px no-repeat;top:10px; */}
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
      margin-top:1px;
    font-family: StagSansMedium, Arial; 
     font-size: 10pt; 
      background: bottom left repeat-x url(../images/menu/bg_submenu.png)white;
     border-bottom: 3px solid #9F9F9F;
      color:#000000;
}
div#menu ul ul a {
	font-family: StagSansMedium, Arial; 
    font-size: 10pt; 
    padding: 0 0 0 0px;
    height: auto;
    float: none;
    display: block;
    line-height:40px;
    color:#000000;
    
}
div#menu ul ul span {
	    font-family:  StagSansMedium, Arial; 
    font-size: 10pt; 
    margin-top: 0;
    padding-right: 37px;
    _padding-right: 20px;
    color: #000000;
}
div#menu ul ul a:hover span {
    color: #fff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul {  background: bottom left repeat-x url(../images/menu/bg_submenu.png)white;
     border-bottom: 3px solid #9F9F9F; }
div#menu ul ul ul ul { background:#000000; }
div#menu ul ul ul ul {  background: bottom left repeat-x url(../images/menu/bg_submenu.png)white;
     border-bottom: 3px solid #9F9F9F;}

/* lava lamp */	
div#menu li.back {
    background: url(../images/menu/lava.png) no-repeat right -44px !important;
    background-image: url(../images/menu/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(../images/menu/lava.png) no-repeat top left !important;
    background-image: url(../images/menu/lava.gif);
    height: 44px;
    margin-right: 8px;
}

#logo{
	
	position: absolute;
	top: 80px;
	left:730px;
	z-index: 10;
}

*#bbvalogo{
	
	position: absolute;
	top: 0px;
	left:141px;
	z-index: 10;
}


#logofont{
	
	position: absolute;
	top: 35px;
	left:340px;
	z-index: 10;
}

#bita{
	position: absolute;
	top: 0px;
	left:141px;
	
}
